body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #ff8c00, #ffd000);
    color: white;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(0,0,0,0.5);
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* CENTER */
.center {
    text-align: center;
    margin-top: 100px;
}

/* TITLE */
.glow {
    font-size: 60px;
    animation: glow 2s infinite alternate;
}

.title {
    text-align: center;
    margin-top: 50px;
}

@keyframes glow {
    from { text-shadow: 0 0 10px #fff; }
    to { text-shadow: 0 0 30px #ffae00; }
}

/* BUTTON */
.btn {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    background: black;
    color: #ffd000;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 20px;
}

.box {
    background: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.box:hover {
    transform: translateY(-10px);
}

.box img {
    width: 100%;
    border-radius: 10px;
}

/* TEAM */
.team {
    text-align: center;
    margin-top: 50px;
}

.team div {
    margin: 10px;
    font-size: 20px;
}
